<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
            <title>Your Jobs</title>
            <style>
                div{
                    position : absolute;
                    right : 10px;
                    top : 5px
                }
                
                body{background: #1e9600;
                    background: -webkit-linear-gradient(to left, #1e9600, #fff200, #ff0000);
                    background:linear-gradient(to left, #1e9600, #fff200, #ff0000);
                }
                
            </style>
    </head>
    <body>
        
        <div>
            <form method="get" action="/check" id="s">
                {% csrf_token %}
                
                <input type="text" placeholder="search..." name="search" value="{{uid}}">
                        <button type="submit" onclick="location.href='/check/?uid={{uid}}'" form="s">Go</button>
                        <button type="button" onclick="history.back()">Dashboard</button>
                        <button type="button" onclick="location.href='{% url 'log' %}'">Logout</button>
            </form></div>
        <h1>Welcome {{e}}!</h1>
        <h2>Here's a list of your jobs:</h2>
        <br><br>
        {% for wor_n,wor_l,wor_w,wor_s,wor_c in comb_lis %}
        <a>Job Name: {{wor_n}} Location: {{wor_l}} Wage: {{wor_w}} Skills Required: {{wor_s}} Contact: {{wor_c}}</a>
        <br>
        
        {% endfor %}
        
    </body>
</html>
